.item-chat {
    position: relative;

    display: flex;
    flex-direction: column;
}

.item-chat .divider {
    margin: 2px 10px;
}

.item-chat:last-child .divider {
    display: none;
}

.item-chat__touch-layer {
    position: absolute;
    
    height: 100%;
    width: 100%;
}

.item-chat__touch-layer:hover {
    cursor: pointer;
}

.item-chat__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    padding: 10px;
}

.item-chat__container:has(~ .item-chat__touch-layer:hover) {
    background-color: var(--item-hover-color);
}

.item-chat__container:active {
    background-color: var(--item-hover-color);
}

.item-chat__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 4px;
    
    width: 233px;
}

.item-chat__info-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.item-chat__info-subtitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.item-chat__name {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-chat__date {
    text-wrap: nowrap;
}

.item-chat__message {
    max-height: 30px;
    max-width: 190px;

    align-self: flex-start;
    overflow: hidden;

    /* durty hack: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.item-chat__count {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 20px;
    width: 20px;
    align-self: flex-end;

    border-radius: 50%;
    background-color: var(--main-color);
}
