.form-auth {
    display: flex;
    flex-direction: column;
    
    height: 460px;
    width: 340px;

    padding: 3.125em 1.875em 1.875em;
}

.form-auth .form-auth__title {
    padding-bottom: 2em;
    text-align: center;
    font-size: 1.25em;
}
