.field {
    display: flex;
    flex-direction: column;
    border: none;

    .divider {
        background-color: var(--main-color);
    }
}

.field_error .divider {
    background-color: var(--error-color);
}

.field_disabled .divider {
    background-color: var(--disabled-color);
}

.field__input {
    padding: .4615385em 0;

    border-bottom: none;
    border-color: var(--main-color);
    margin-top: .69231em;
}

.field__input::placeholder {
    color: var(--text-hided-color);
}

.field__input:disabled {
    color: var(--disabled-color);
}

.field__label {
    height: 0px;
}

.field__label:has(+ .field__input:not(:focus):placeholder-shown) {
    transform: translateY(1.3em);
    font-size: .8125em;
    transition:
      font-size .2s,
      transform .2s;
}

.field__label:has(+ .field__input:focus) {
    transform: translateY(0px);
    transition:
      font-size .2s,
      transform .2s;
}

.field__text {
    padding: .875em 0 0;
    height: 1em;
}
