.field {
    display: flex;
    flex-direction: column;
    border: none;

    .divider {
        background-color: var(--main-color);
    }
}

.field_error .divider {
    background-color: var(--error-color);
}

.field_disabled .divider {
    background-color: var(--disabled-color);
}

.field__input {
    padding: .4615385em 0;

    border-bottom: none;
    border-color: var(--main-color);
    margin-top: .69231em;
}

.field__input::placeholder {
    color: var(--text-hided-color);
}

.field__input:disabled {
    color: var(--disabled-color);
}

.field__label {
    height: 0px;
}

.field__label:has(+ .field__input:not(:focus):placeholder-shown) {
    transform: translateY(1.3em);
    font-size: .8125em;
    transition:
      font-size .2s,
      transform .2s;
}

.field__label:has(+ .field__input:focus) {
    transform: translateY(0px);
    transition:
      font-size .2s,
      transform .2s;
}

.field__text {
    padding: .875em 0 0;
    height: 1em;
}

/* INLINE RULES */

.field__input-inline {
    padding: .4615385em 0;

    border-bottom: none;
    border-color: var(--main-color);
    /* margin-top: .69231em; */

    order: 0;
}

.field__input-inline::placeholder {
    color: var(--text-hided-color);
}

.field__input-inline:disabled {
    color: var(--disabled-color);
}

.field .field__label-inline {
    height: 0px;
    font-size: 0.75em;
    translate: 0 -1.62em;
    
    order: 1;
}

.field__text-inline {
    padding: 0.75em 0 0;
    min-height: 0.8em;

    order: 2;
}
